<title>
    Welcome
</title>

<body>
    Hello World! 
    <br>
    <!--locals is the object that contains all the stuff passed in. 
        If locals.text is not defined, the line below will simply be nothing.
        No error is thrown. If it were text instead of locals.text, 
        there would be an error if text is not defined-->
    <%= locals.text %>
</body>